.header {
  background-image: url('../img/pattern.png');
  background-color: #4EA1FF;
  height: 150px;
  position:relative
}

body{
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

.logo {
  height: 40px;
  position:absolute;
  bottom: 15px;


}
h1{
  font-size: 36px;
  margin-left:10px;
}

h3{
  margin-left:10px;
  color: #7E7E7E;
}

h4{
  margin-left: 10px;
  color: #7E7E7E;
}

a{
  text-decoration: none;
	color: #3BA2C3
}

.crediti{
  margin-left: 10px;
  font-size: small;
}

.immagini{
  margin-left: 7px;
}

.contenuto{
  margin-left: 14px;
}

.evidenziato{
  background-color: yellow;
}

.lista{

}

