body{
  font-family:Georgia, 'Times New Roman', Times, serif
}








.header {
  background-image: url('../img/pattern.png');
  background-color: #4EA1FF;
  height: 150px;
  position:relative
}

.logo {
  height: 40px;
  position:absolute;
  bottom: 15px;

}